.container {
    max-width: 700px;
    margin: 20px;
    padding: 20px;
    font-family: 'Kanit', sans-serif;
  }
  
  .input-container {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .text-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .display-texts {
    margin-bottom: 20px;
    overflow-y: auto; /* Add a vertical scrollbar */
    max-height: 420px; /* Set max height for the display area */
  }
  
  .display-text {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e0f4ea;
  }
  
  .fetched-type {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .delete-button,
  .export-button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .export-button {
    background-color: #1690ce;
  }
  
  /* Dropdown styles */
  .situation-dropdown {
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .situation-dropdown select {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none; /* Remove default dropdown arrow */
    cursor: pointer;
  }
  
  .situation-dropdown select::-ms-expand {
    display: none; /* Hide default arrow in IE */
  }
  
  .situation-dropdown select option {
    padding: 10px;
    background-color: #fff;
  }

  .type {
    text-align: center; /* Center align the text */
    font-size: 140px; /* Increase font size */
  }

  .splitblock{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
  }

  .block1{
    max-width: 50%;
    height: 460px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
  }
  
  .block2{
    width: 25%;
    height: 460px;
    background-color: #00a650;
    padding: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
  }

  .button{
    text-align: center;
    padding: 20px;
  }